.App{
  text-align: center;
}

body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navBar{
  height: 60px;
  background-color: #219ebc;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 20px;
}

.navBar .nav-items{
  text-align: center;
  margin-right: 50px;
}

.navBar .userDetails{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.nav-items a {
  color: whitesmoke;
  text-decoration: none;
  border-bottom: 2px solid white;
  margin: 10px;
}

.userDetails img{
  border-radius: 50%;
}

.createpost{
  display: flex;
  justify-content: center;
}

form{
  margin-top: 80px;
  background-color: #8ecae6;
  padding: 80px 60px;
  border-radius: 10px;
}

.btn{
  border: 2px solid #8ecae6;
  border-radius: 5px;
}

.btn:hover{
  color: white;
  background-color: #8ecae6;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
}